---
---

@import "minimal";

/* Whole browser background */
body {
  background-color: #e8eef5 !important;
}

/* Main white page container */
.wrapper {
  background-color: transparent !important;
}

/* Left sidebar */
header {
  background-color: #dbeafe !important;
}

/* Main content area */
section {
  background-color: #ffffff !important;
  padding: 30px;
}

header p.view {
  display: none !important;
}
